#i1
{
border: 10px solid red;
padding: 10px;	
}	

#i2
{
  background-repeat: no-repeat;
  background-size: contain;
  border: 10px solid blue;
}

#img[title-3]     
{ 
  border: 10px solid #00ff00; 
}

